.E_404 {

    align-items: center;
    text-align: center;
    padding: 20px;

}

.img_error {

    width: 40%;
    border-radius: 20px;
    margin-right: 20px;

}

.parrafo_error {

    margin-top: 20px;
    font-family: $fuente2;
    background-color: $color2;
    color: white;
    border-radius: 20px;
    padding: 10px;

}