/* Media Queries */

@media screen and (max-width: 991px) {

    li {

        margin: -8px;
        margin-top: 15px;

    }

    .contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0 auto;
    }

    .imgIndex {
        margin-left: 0;
        /* 0 margen a la izquierda */
        margin-bottom: -25%;
        max-width: 80%;

    }

    .contIndex {
        margin-right: $full_phone;
        margin-left: $full_phone;
        align-items: center;
        /* Centrar el texto */
        width: $full_phone;
        /* Ocupa el 100% del ancho */
    }

    .botonIndex {
        width: $full;
        max-width: 200px;
        /* Ancho máximo del botón */
    }

    .video-home {

        width: $full_phone;
        height: $full_phone;
        border-radius: 5px;

    }

    .tituloproducto {

        font-size: 1.4rem;

    }

    .subtituloproducto {

        font-size: 0.8rem;

    }

    .productos {

        grid-template-columns: repeat(2, 1fr);

    }

    .botonComprar {

        margin-bottom: 10px;

    }

    .equipo__quienes {

        grid-template-columns: 1fr 1fr;

    }

    .equipo {

        display: flex;
        flex-direction: column;
        align-items: center;


    }

    .puesto {

        margin-bottom: 15px;

    }

    .sucu__sucursales {

        gap: 5%;

    }

    .imgSucursal {

        width: 70%;

    }

    .localidad {

        margin-right: 20%;
        margin-left: 20%;

    }

    .sucursalesInfo {

        text-align: center;
        font-weight: normal;
        margin-top: 15px;
        font-size: 1rem;
        font-family: $fuente2;

    }

    .cont_contacto {

        display: flex;
        flex-direction: column;

    }

    .contacto {

        width: 100%;
        margin-left: -15%;

    }

    .imgContacto {

        display: none;

    }


}

@media screen and (max-width: 480px) {

    .productos {

        grid-template-columns: repeat(1, 1fr);

    }

    .equipo__quienes {

        grid-template-columns: 1fr;

    }

    .sucu__sucursales {

        flex-direction: column;

    }

    .contacto {

        width: 140%;
        margin-left: -50%;
        margin-bottom: 15%;

    }

}